
.game_name {
    font-size: 30px;
    font-family: "Courier New", Courier New, Monospace;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Courier New", Courier New, Monospace;
    
    

}

.ayy{
    color: white;
    transition: 1s ease-in-out;
}
.ayy:hover {
    border-bottom: 2px solid red;
    transition: 1s ease-in-out;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    transition: 1s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: darkred;
    transition: 1s ease-in-out;
}
/* .game_iamge{
    border: 2px solid red;
    
    border-top-left-radius: 2em 0.5em;
    border-top-right-radius: 1em 3em;
    border-bottom-right-radius: 4em 0.5em;
    border-bottom-left-radius: 1em 3em;
} */
/* @!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@! */
.container{
    position: relative;
    width: 50%;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
   
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* text-align: center; */
    /* width:50%; */
    font-size:1.7vh;
    
    word-wrap: break-word;
  }

.gameCard{
    display: flex; 
    height: 350px;
    margin-top: 20px;
    color: white;
    transition: 1s ease-in-out;
    padding-left: 0;
}
.gameImg{
    display: block;
}
.gamrCon {
    margin-top: 20px;
    margin-left: 20px;
}

.gameCard:hover {
    background-color: darkred;
    
    transition: 1s ease-in-out;
}

/* @!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@! */

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 14px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Courier New", Courier New, Monospace;
    font-size: 15px;
    top:230px;
    left:280px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Courier New", Courier New, Monospace;
    font-size: 18px;

}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
 
 .name{
    font-family: "Courier New", Courier New, Monospace;
    font-size: 20px;
 }

body {
    height: 100vh;
    margin:0px;

    /* background: -webkit-linear-gradient( to  top, PaleTurquoise  , white);
    background: -moz-linear-gradient( to  top, PaleTurquoise  , white);
    background: -ms-linear-gradient( to  top,   PaleTurquoise  , white);
    background: -o-linear-gradient( to  top,   PaleTurquoise  , white);
    background: linear-gradient( to  top,  PaleTurquoise , white);  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat:no-repeat;
    background-attachment: fixed;
}
.texta {
    position: absolute;
    top: 200px;
    left: 700px;
    font-family: "Courier New", Courier New, Monospace;
    font-size: 20px;
}
.cat{
    position:absolute;
    top:150px;
    left:300px;
    font-family: "Courier New", Courier New, Monospace;
    font-size: 25px;
}
.ul{
    position:absolute;
    left:-5px;
}

.status-bar:hover{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}


.bar{
    padding: 25px;
    color:black;
    border: 3px solid white;
    border-radius: 10px;
    position:absolute;
    top:150px;
    left:50px;
    font-family: "Courier New", Courier New, Monospace;
    font-size: 18px;
    width:600px;
}

.signup{
    position:absolute;
    top:150px;
    left:500px;
    font-family: "Courier New", Courier New, Monospace;
    font-size: 20px;
    background-image: 'sign_up.jpg';

}


.forgotpass{
    position:absolute;
    top:100px;
    left:500px;
    font-family: "Courier New", Courier New, Monospace;
    font-size: 20px;

}
#image{
    position: relative;
}
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}
 
div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  margin: 20px
  
}
.hello{
    position:absolute;
    font-size:20px;
    font-family: "Courier New", Courier New, Monospace;
    top:15px;
    left:1200px;
}

.post {  
    background-repeat: no-repeat;
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
    font-size: 15px;
}
div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.img-holder {position: relative;

}
.image1{
    position: relative;
}
.image2{
    position: absolute;
    top:5.95px;
    left:493px;
    
}



.ayy2 {
    width: 70%;
    height: 50px;
    border-radius: 25px;
    text-indent: 25px;
    border: 2px solid darkred;
    background-color: transparent;
    font-size: 25px;
    outline: none;
    color: darkred;
    transition: 1s ease-in-out;
}
.ayy2::placeholder{
    color: darkred;
    transition: 1s ease-in-out;
}
.ayy2:hover {
    background-color: darkred;
    color: white;
    transition: 1s ease-in-out;
}
.ayy2:hover::placeholder{
    color: white;
    transition: 1s ease-in-out;
}


.img-holder .link {
    background-image: url("Search-Bar-new.png");
    position: absolute;
    bottom: 10px; /*your button position*/
    right: 10px; /*your button position*/
}

.JobRequests{
    margin-left: 50px;
    margin-top: 30px;
}

.Jrequest{
    background-color: yellow;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    height:auto;

}