<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
        <!-- Required tags to make the website responsive-->
              <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
       <style>
            h1{
                font-size: 50px;
                font-family: "Courier New", Courier New, Monospace;
                position:absolute;
                top:50px;
                left:50px;
            }
      </style>
      <style>
            .centered{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
      
      </style>
       
       
      
 

    </head>

      

        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
    
  <body>
  <!-- ok this is the new search bar that actually works -->
  
<!-- !@@!@!@!@!@@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@ -->
        
  


<nav style=" height: 50px; background-color: rgba(255, 255, 255, 0.5) !important" class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="margin-left: 35%;" class="navbar-brand abc" href="#"><img style="height: 50px; width: 50px;" src="{{ url_for('static',filename='logo1212.png') }}" width=100px height=100px id="image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul style="margin-right: 35%;" class="navbar-nav mr-auto">
                    {% if session['logged_in'] %}
                    <div class="hello">Hello , {{session['username']}}</div>
                    <li style="margin-left: 50px;">
                        <a href="{{ url_for('logout')}}" class="nav-link abc">Logout </a>
                    </li >
                    {%else%}
                    <li style="margin-left: 50px;">
                        <a href="{{ url_for('SignUp')}}" class="nav-link abc">SignUp </a>
                    </li>
                    <li style="margin-left: 50px;">
                        <a href="{{ url_for('Login')}}" class="nav-link abc">Login </a>
                    </li>
                    {% endif%}
                     <div width= 100%>
                     {% if session['logged_in'] %}
                     <div class="hello">Hello , {{session['username']}}</div>
                     {% endif%}
          </ul>
        </div>
</nav>









<!-- !@@!@!@!@!@@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@ -->
<!--  --><form style="margin-top: 40vh;"  action="{{url_for('display_result')}}" method="post">
<div class="container3" style=" position: relative; text-align: center;">
  
  <div class ="img-holder">

  <!-- <img  class = "image1" style="margin-left:200;" src="{{ url_for('static',filename='Search-Bar-new.png') }}" > -->

  <input class="centered" type="search" placeholder="SearchBar" name="data" aria-label="Search"></div>
  
  <!-- <input class= "image2" type="image"  name="submit" src="{{ url_for('static',filename='button.png') }}"  border="0" alt="Submit"> -->
  </div>
  
  <!-- <div class="container">
    <img src="img_snow.jpg" alt="Snow">
    <button class="btn">Button</button>
  </div>
   -->
  
  <!--  --></form>

    
       <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='bootstrap/jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
</div>



<!-- search results in here me lord -->













<!-- 
<img id="gamelogo" > -->





<!-- here is where the login lies me lord -->
<script>
//   var imgsrc = '{{imgsrc}}';
//   var imgE = document.getElementById('gamelogo');
//   imgE.setAttribute('src',imgsrc);
//   // 
// //  

  var log = '{{log}}';
  
  if (log=='false') {
          var str1 = "Sign Up";
          var result1 = str1.link("{{url_for('SignUp')}}");
          document.getElementById("signup").classList.add("nav-link");
          document.getElementById("signup").innerHTML = result1;
      }
  var str;
  var result;
  document.getElementById("demo").classList.add("nav-link");
  if (log=='true') {
      str = "Log Out";
      result = str.link("{{url_for('logout')}}");
      }
  else{
          str = "Log in";
          result = str.link("{{url_for('Login')}}");
      }
  
  console.log(result)
  document.getElementById("demo").innerHTML = result;

  
  </script>

</body>
</html>