<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
        <!-- Required tags to make the website responsive-->
              <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
       
       

    </head>
    <body>

      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            
            <li class="nav-item", id="demo">
            </li>
            <li class="nav-item", id="signup"></li>
              </a>
          </ul>
          {% if session['logged_in'] %}
          <div class="hello">Hello , {{session['username']}}</div>


          {% endif%}
          

          
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="data" aria-label="Search">
            <button id="submi" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
      </body>
    <style>
    	h1{
    		font-size: 50px;
    		font-family: "Courier New", Courier New, Monospace;
    		position:absolute;
    		top:50px;
    		left:50px;
    	}
  </style>
  <body>
    <br>
    <br>
    <br>
    <br>
    <center><img src="{{ url_for('static',filename='Search-Bar.png') }}"></center>
  <br>
  <br>
    
    
    
    
       <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='bootstrap/jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>

</body>
</html>