<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
        <!-- Required tags to make the website responsive-->
              <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       <style>
            h1{
                font-size: 50px;
                font-family: "Courier New", Courier New, Monospace;
                position:absolute;
                top:50px;
                left:50px;
            }
      </style>
      <style>
            .centered{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
            
      </style>
       
       
      
 

    </head>

      

        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
    
  <body>
  <!-- ok this is the new search bar that actually works -->
  
<!-- !@@!@!@!@!@@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@ -->
        
  


<nav style=" height: 50px; background: rgba(0, 0, 0, 0.3) !important" class="navbar navbar-expand-lg navbar-light bg-light">
        <a style="margin-left: 35%;" class="navbar-brand abc" href="#"><img style="height: 50px; width: 50px;" src="{{ url_for('static',filename='logo1212.png') }}" width=100px height=100px id="image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul style="margin-right: 35%;" class="navbar-nav mr-auto">
                    {% if session['logged_in'] %}
                    <div class="hello">Hello , {{session['username']}}</div>
                    <li class="ayy" style="margin-left: 50px;">
                        <a href="{{ url_for('logout')}}" class="nav-link abc">Logout </a>
                    </li >
                    {%else%}
                    <li class="ayy" style="margin-left: 50px;">
                        <a href="{{ url_for('SignUp')}}" class="nav-link abc">SignUp </a>
                    </li>
                    <li class="ayy" style="margin-left: 50px;">
                        <a href="{{ url_for('Login')}}" class="nav-link abc">Login </a>
                    </li>
                    {% endif%}
                     <div width= 100%>
                     {% if session['logged_in'] %}
                     <div style="color: white; font-weight: bold;" class="hello">Hello , {{session['username']}}</div>
                     {% endif%}
          </ul>
        </div>
</nav>









<!-- !@@!@!@!@!@@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@!@ -->
<!--  --><form onsubmit="sumbt()" style="margin-top: 40vh;"  action="{{url_for('display_result')}}" method="post">
<div class="container3" style=" position: relative; text-align: center;">
  <div class ="img-holder">
    <input id="srchh"  class="centered ayy2" type="search" placeholder="SearchBar" name="data" aria-label="Search" autocomplete="off"></div>
  </div>
 </form>

 

    
       <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       
</div>
<div id="spinnerr" style="color: darkred !important; width: 10vw; height: 10vw; margin-top: 60vh; margin-left: 45vw; margin-right: 45vw; " class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
</div>





<!-- search results in here me lord -->













<!-- 
<img id="gamelogo" > -->





<!-- here is where the login lies me lord -->


</body>
<script src="{{ url_for('static', filename='bootstrap/jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>
       <script>
            //   var imgsrc = '{{imgsrc}}';
            //   var imgE = document.getElementById('gamelogo');
            //   imgE.setAttribute('src',imgsrc);
            //   // 
            // //  
            var imgArray = new Array();
            
            imgArray[0] = new Image();
            imgArray[0].src = '../static/argy_bg.jpg';
            imgArray[1] = new Image();
            imgArray[1].src = '../static/spino_bg.jpg';
            imgArray[2] = new Image();
            imgArray[2].src = '../static/ac2.png';
            imgArray[3] = new Image();
            imgArray[3].src = '../static/acodd1.jpg';
            imgArray[4] = new Image();
            imgArray[4].src = '../static/bloodborne1.jpg';
            imgArray[5] = new Image();
            imgArray[5].src = '../static/ds3.jpg';
            imgArray[6] = new Image();
            imgArray[6].src = '../static/godofwar1.jpg';
            imgArray[7] = new Image();
            imgArray[7].src = '../static/shadow.jpg';
            
            
            document.body.style.backgroundImage = "url("+ imgArray[ Math.floor((Math.random() * 8))].src +")";

            var spnr = document.getElementById('spinnerr');
            spnr.style.display = 'none';
            var srchbr = document.getElementById('srchh');

            function sumbt(){
                spnr.style.display = 'block';

            }
            
            
            
              var log = '{{log}}';
              
              if (log=='false') {
                      var str1 = "Sign Up";
                      var result1 = str1.link("{{url_for('SignUp')}}");
                      document.getElementById("signup").classList.add("nav-link");
                      document.getElementById("signup").innerHTML = result1;
                  }
              var str;
              var result;
              document.getElementById("demo").classList.add("nav-link");
              if (log=='true') {
                  str = "Log Out";
                  result = str.link("{{url_for('logout')}}");
                  }
              else{
                      str = "Log in";
                      result = str.link("{{url_for('Login')}}");
                  }
              
              console.log(result)
              document.getElementById("demo").innerHTML = result;
            
            
             
              </script>
</html>