<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
        <!-- Required tags to make the website responsive-->
              <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
<!-- #@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@ -->
       {% if session['logged_in'] %}
       
       <div class="hello">Hello , {{session['username']}}</div>
       <a href="{{ url_for('logout')}}" class="btn btn-outline-primary">Logout </a>
      
       {%else%}
    </div>
    <div>
       <a href="{{ url_for('SignUp')}}" class="btn btn-outline-primary">SignUp </a>
       <a href="{{ url_for('Login')}}" class="btn btn-outline-primary">Login </a>
    </div>
       {% endif%}
    </head>
    <body>
<!-- #@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@ -->








<!-- #@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@ -->

<!-- <div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Hello World</div>
  </div>
</div> -->


{% for game in matches %}
    <div class="container" style= "float:left">
        <img class=game_img src="{{game['image']}}">
        <div class="overlay">
            <div class="text">
            {{game["name"]}} 
            {{game["sum"]}}    
            </div>
        </div>
    </div>
{% endfor %}

<!-- <script>
    function image_print(){
          var imgsrc = '{{img_list}}';
          console.log(imgsrc);
          var img_list;
         
          for (var i=0;i < imgsrc.amount();i++);{
            var x = document.createElement("img");
            x.setAttribute('src', imgscr[i]);
            
             document.body.appendChild(x);
          }
        }
        image_print();
          // 
        //  
        
          var log = '{{log}}';
          
          if (log=='false') {
                  var str1 = "Sign Up";
                  var result1 = str1.link("{{url_for('SignUp')}}");
                  document.getElementById("signup").classList.add("nav-link");
                  document.getElementById("signup").innerHTML = result1;
              }
          var str;
          var result;
          document.getElementById("demo").classList.add("nav-link");
          if (log=='true') {
              str = "Log Out";
              result = str.link("{{url_for('logout')}}");
              }
          else{
                  str = "Log in";
                  result = str.link("{{url_for('Login')}}");
              }
          
          console.log(result)
          document.getElementById("demo").innerHTML = result;
        
          
          </script> -->
</body>
</html>