<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="../static/style_new.css">
        <!-- Required tags to make the website responsive-->
              <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
<!-- #@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@ -->
       
    </head>
    <style>
        .ayy{
            color: white;
            transition: 1s ease-in-out;
        }
        .ayy:hover {
            border-bottom: 2px solid red;
            transition: 1s ease-in-out;
        }
        .navbar-light .navbar-nav .nav-link {
            color: white;
            transition: 1s ease-in-out;
        }
        .navbar-light .navbar-nav .nav-link:hover {
            color: darkred;
            transition: 1s ease-in-out;
        }
    </style>
    <body style="background-color: #0e042d;">
<!-- #@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@ -->
 

       <nav style=" height: 50px; background: rgba(0, 0, 0, 0.3) !important" class="navbar navbar-expand-lg navbar-light bg-light">
            <a style="margin-left: 35%;" class="navbar-brand abc" href="home.html"><img style="height: 50px; width: 50px;" src="{{ url_for('static',filename='logo1212.png') }}" width=100px height=100px id="image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul style="margin-right: 35%;" class="navbar-nav mr-auto">
                        {% if session['logged_in'] %}
                        <div style="color: white; font-weight: bold;" class="hello">Hello , {{session['username']}}</div>
                        <li class="ayy" style="margin-left: 50px;">
                            <a href="{{ url_for('logout')}}" class="nav-link abc">Logout </a>
                        </li >
                        {%else%}
                        <li class="ayy" style="margin-left: 50px;">
                            <a href="{{ url_for('SignUp')}}" class="nav-link abc">SignUp </a>
                        </li>
                        <li class="ayy" style="margin-left: 50px;">
                            <a href="{{ url_for('Login')}}" class="nav-link abc">Login </a>
                        </li>
                        {% endif%}
              </ul>
            </div>
        </nav>







<!-- #@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@ -->




{% for game in matches %}
    <div style="padding-left: 0;" class="container gameCard">
        <img class="gameImg" src="{{game['image']}}">
        <div class="gamrCon">
            <h3>{{game["name"]}}</h3> 
            <p>{{game['summary']}} </p>
        </div>
    </div>
{% endfor %}


</body>
</html>