<!DOCTYPE html>
<html>
<head>
    <title>My Final Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style_new.css">
    <link rel="stylesheet" type="text/css" href="../static/signup.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}">
    <div class= "buttons">
    <a href="{{ url_for('home')}}" class="btn btn-default">Home </a>
    <a href="{{ url_for('Login')}}" class="btn btn-default">Login </a></div>
</head>
<body>

</body>



<script src="{{ url_for('static', filename='bootstrap/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.js') }}"></script>

<link rel="stylesheet" type="text/css" href="../static/style_new.css">
<style>
h1{
    font-size: 50px;
    font-family: "Courier New", Courier New, Monospace;
    position:absolute;
    top:50px;
    left:50px;
}
</style>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        return false;
    }
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

  
</script>    <body>

   <div class= "containter"><form method="POST">
    
    <div class="login">
            
            <div><h2>SignUp:</h2></div>
    
        <div><input type="text" name="user" placeholder="Username"></div>
       
        <div><input type="password" name="password" placeholder="Password"></div>
    
    
    
        <div><button id="submi" class="btn btn-outline-success my-2 my-sm-0" type="submit">SignUp</button><br><br></div>
   
    </div>
</form>
</div>
<script>
      // Sign up
var log = '{{log}}';
if (log=='false') {
        var str1 = "Sign Up";
        var result1 = str1.link("{{url_for('SignUp')}}");
        document.getElementById("signup").classList.add("nav-link");
        document.getElementById("signup").innerHTML = result1;
    }


var str;
var result;
document.getElementById("demo").classList.add("nav-link");
if (log=='true') {
    str = "Log Out";
    result = str.link("{{url_for('logout')}}");
    }
else{
        str = "Log in";
        result = str.link("{{url_for('SignUp')}}");
    }

console.log(result)
document.getElementById("demo").innerHTML = result;

</script>

<!-- here is where the login lies me lord -->

<script>
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
          return false;
        }
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
      
      var log = '{{log}}';
      
      if (log=='false') {
              var str1 = "Sign Up";
              var result1 = str1.link("{{url_for('SignUp')}}");
              document.getElementById("signup").classList.add("nav-link");
              document.getElementById("signup").innerHTML = result1;
          }
      var str;
      var result;
      document.getElementById("demo").classList.add("nav-link");
      if (log=='true') {
          str = "Log Out";
          result = str.link("{{url_for('logout')}}");
          }
      else{
              str = "Log in";
              result = str.link("{{url_for('Login')}}");
          }
      
      console.log(result)
      document.getElementById("demo").innerHTML = result;
      
      </script>
</body>
</html>